**Importa las bibliotecas necesarias.**

In [1]:
import psycopg2
from psycopg2 import Error # Importar la clase Error
from psycopg2 import sql
import pandas as pd

**Función para ejecutar una consulta SQL**

In [2]:
# Función para ejecutar una consulta SQL parametrizada
def execute_query(conn, query, params=None):
    """
    Ejecuta una consulta SQL con manejo de errores y soporte para parámetros.
    """
    try:
        with conn.cursor() as cursor:
            if params:
                cursor.execute(query, params)  # Pasar parámetros correctamente
            else:
                cursor.execute(query)
            
            conn.commit()
            print(f"Query executed successfully: {query[:50]}...")
            
            if cursor.description:
                return cursor.fetchall(), [desc[0] for desc in cursor.description]  # Obtener nombres de columnas
            else:
                return [], []  # Retornar listas vacías si no hay resultados
    except psycopg2.Error as err:
        conn.rollback()
        print(f"Error executing query: {err}")
        return [], []

**Conexión a la base de datos de PostgreSQL data_powergen**

In [3]:
# Conexión a la base de datos
def create_database_connection():
    conn = None
    try:
        conn = psycopg2.connect(
            database="data_powergen", 
            user="datafundamental_owner", 
            password="uozci0wQGpA6", 
            host="ep-solitary-pond-a2p3evpo.eu-central-1.aws.neon.tech", 
            sslmode="require", 
            port=5432
        )
        print("Connected to 'data_powergen' successfully.")
    except psycopg2.Error as err:
        print(f"Error: {err}")
    return conn

**Crea la tabla resultados_join y la lista de consultas a ejecutar.**

In [12]:

sql_queries = {
    "create_resultados_join": """
        CREATE TABLE IF NOT EXISTS resultados_join AS
        SELECT 
            h.id_equipo,
            COUNT(h.id_orden) AS total_ordenes_mantenimiento,
            AVG(r.temperatura_c) AS promedio_temperatura,
            AVG(r.vibracion_mm_s) AS promedio_vibracion,
            AVG(r.presion_bar) AS promedio_presion
        FROM historicos_ordenes h
        LEFT JOIN registros_condiciones r
        ON h.id_equipo = r.id_equipo
        GROUP BY h.id_equipo;
    """,
    "total_ordenes_por_equipo": """
        SELECT id_equipo, COUNT(id_orden) AS total_ordenes
        FROM historicos_ordenes
        GROUP BY id_equipo;
    """,
    "duracion_promedio_vida_util": """
        SELECT AVG(vida_util_anios) AS duracion_promedio_vida_util
        FROM caracteristicas_equipos;
    """,
    "costo_promedio_correctivo": """
        SELECT AVG(costo_mantenimiento) AS costo_promedio_correctivo
        FROM historicos_ordenes
        WHERE tipo_mantenimiento = 'Correctivo';
    """,
    "equipo_mas_fallas": """
        SELECT id_equipo, COUNT(id_orden) AS total_correctivo
        FROM historicos_ordenes
        WHERE tipo_mantenimiento = 'Correctivo'
        GROUP BY id_equipo
        ORDER BY total_correctivo DESC
        LIMIT 1;
    """,
    "temperatura_resumen": """
        SELECT id_equipo, AVG(temperatura_c) AS promedio_temp, MAX(temperatura_c) AS max_temp
        FROM registros_condiciones
        GROUP BY id_equipo;
    """,
   
    "dias_vibracion_temperatura": """
        SELECT *
        FROM registros_condiciones
        WHERE vibracion_mm_s > 3.0 AND temperatura_c > 60;
    """,
    "tiempo_promedio_mantenimiento": """
        WITH diferencias AS (
            SELECT 
                id_equipo,
                EXTRACT(EPOCH FROM AGE(fecha, LAG(fecha) OVER (PARTITION BY id_equipo ORDER BY fecha))) / 3600 AS tiempo_entre_mantenimientos
            FROM historicos_ordenes
        )
        SELECT 
            id_equipo, 
            AVG(tiempo_entre_mantenimientos) AS tiempo_promedio_horas
        FROM diferencias
        GROUP BY id_equipo;
    """,
    "suma_horas_acumuladas": """
        SELECT id_equipo, SUM(horas_acumuladas) AS total_horas_acumuladas
        FROM registros_condiciones
        GROUP BY id_equipo;
    """
}

**Consulta parametrizada utilizando el módulo sql de psycopg2**

In [ ]:
 # Consulta parametrizada utilizando el módulo sql de psycopg2
query_parametrizada ="""
    SELECT id_orden, id_equipo, costo_mantenimiento, tiempo_reparacion_horas
    FROM historicos_ordenes
    WHERE tipo_mantenimiento = 'Correctivo' AND id_equipo = %s;
    """

**Ejecutar las consultas y mostrar resultados ordenados**

In [13]:
# Ejecutar las consultas y mostrar resultados ordenados
if __name__ == "__main__":
    conn = create_database_connection()
    if conn:
        equipo_id = ('E005',)  # Parámetro debe ser tupla para psycopg2
        print("Executing query: ordenes_correctivas_equipo")
        result, columns = execute_query(conn, query_parametrizada, equipo_id)

        
        for query_name, query in sql_queries.items():
            print(f"Executing query: {query_name}")
            result, columns = execute_query(conn, query)
            if result and columns:
                df = pd.DataFrame(result, columns=columns)
                df_sorted = df.sort_values(by=df.columns[0])  # Ordenar por la primera columna
                print(f"Resultados de '{query_name}':")
                display(df_sorted)  # Mostrar tabla ordenada en el notebook
            else:
                print(f"No data returned for query: {query_name}")

        # Cerrar conexión
        conn.close()
        print("Conexión cerrada.")

Connected to 'data_powergen' successfully.
Executing query: ordenes_correctivas_equipo
Query executed successfully:
    SELECT id_orden, id_equipo, costo_mantenimien...
Executing query: create_resultados_join
Query executed successfully:
        CREATE TABLE IF NOT EXISTS resultados_joi...
No data returned for query: create_resultados_join
Executing query: total_ordenes_por_equipo
Query executed successfully:
        SELECT id_equipo, COUNT(id_orden) AS tota...
Resultados de 'total_ordenes_por_equipo':

   id_equipo  total_ordenes
4       E001            487
19      E002            485
5       E003            506
14      E004            539
0       E005            502
9       E006            473
13      E007            485
11      E008            531
17      E009            507
10      E010            537
2       E011            483
18      E012            470
1       E013            496
12      E014            464
7       E015            495
8       E016            478
15      E017            532
16      E018            498
3       E019            516
6       E020            516

Executing query: duracion_promedio_vida_util
Query executed successfully:
        SELECT AVG(vida_util_anios) AS duracion_p...
Resultados de 'duracion_promedio_vida_util':

  duracion_promedio_vida_util
0         19.0000000000000000

Executing query: costo_promedio_correctivo
Query executed successfully:
        SELECT AVG(costo_mantenimiento) AS costo_...
Resultados de 'costo_promedio_correctivo':

  costo_promedio_correctivo
0     2711.4088353413654618

Executing query: equipo_mas_fallas
Query executed successfully:
        SELECT id_equipo, COUNT(id_orden) AS tota...
Resultados de 'equipo_mas_fallas':

  id_equipo  total_correctivo
0      E010               272

Executing query: temperatura_resumen
Query executed successfully:
        SELECT id_equipo, AVG(temperatura_c) AS p...
Resultados de 'temperatura_resumen':

   id_equipo        promedio_temp max_temp
4       E001  49.8715505617977528    79.92
17      E002  48.0370257611241218    79.97
5       E003  51.3045628997867804    79.99
14      E004  48.8249372384937238    79.96
0       E005  50.4801952277657267     80.0
9       E006  49.6764120370370370     80.0
13      E007  50.6467458432304038    79.92
11      E008  50.4663655913978495    79.92
19      E009  50.5166666666666667    79.98
10      E010  49.4946860986547085    79.89
2       E011  49.4766952789699571    79.99
18      E012  50.8509813084112150     79.9
1       E013  51.2583956043956044     80.0
12      E014  49.7002795698924731    79.84
8       E015  50.8351619870410367    79.97
7       E016  50.5321145374449339    79.91
16      E017  51.2141491841491841    79.71
15      E018  49.9259414225941423    79.96
3       E019  49.9776872246696035    79.94
6       E020  49.8497505668934240    78.92

Executing query: ordenes_correctivas_equipo
Error executing query: syntax error at or near "%"
LINE 4: ... WHERE tipo_mantenimiento = 'Correctivo' AND id_equipo = %s;
                                                                    ^

No data returned for query: ordenes_correctivas_equipo
Executing query: dias_vibracion_temperatura
Query executed successfully:
        SELECT *
        FROM registros_condicion...
Resultados de 'dias_vibracion_temperatura':

,id_equipo,fecha,horas_operativas,temperatura_c,vibracion_mm_s,presion_bar,horas_acumuladas
1253,E001,2046-01-14,6,76.56,4.83,9.0,4638
965,E001,2040-10-04,3,68.56,4.81,8.02,3407
955,E001,2040-07-24,17,73.33,4.32,8.3,3316
954,E001,2040-07-17,0,62.0,3.47,2.46,3299
1294,E001,2046-09-11,17,66.66,4.17,4.29,4872
...,...,...,...,...,...,...,...
1144,E020,2043-11-01,9,74.72,3.97,9.89,4235
141,E020,2025-10-16,17,63.74,3.02,6.71,595
48,E020,2023-11-22,2,73.81,4.65,7.9,238
248,E020,2027-12-12,3,77.25,4.7,8.37,943
429,E020,2031-02-22,2,67.55,3.98,5.54,1502

Executing query: tiempo_promedio_mantenimiento
Query executed successfully:
        WITH diferencias AS (
            SELECT ...
Resultados de 'tiempo_promedio_mantenimiento':

   id_equipo tiempo_promedio_horas
0       E001  487.3580246913580247
1       E002  492.4958677685950413
2       E003  470.4475247524752475
3       E004  442.7063197026022305
4       E005  474.5868263473053892
5       E006  505.2711864406779661
6       E007  488.5289256198347107
7       E008  445.9924528301886792
8       E009  467.7154150197628458
9       E010  443.7313432835820896
10      E011  492.2489626556016598
11      E012  507.9402985074626866
12      E013  482.1333333333333333
13      E014  512.6565874730021598
14      E015  480.4858299595141700
15      E016  500.1761006289308176
16      E017  449.3107344632768362
17      E018  479.7102615694164990
18      E019  460.1475728155339806
19      E020  460.6601941747572816

Executing query: suma_horas_acumuladas
Query executed successfully:
        SELECT id_equipo, SUM(horas_acumuladas) A...
Resultados de 'suma_horas_acumuladas':

   id_equipo total_horas_acumuladas
4       E001                1109279
17      E002                1018046
5       E003                1321047
14      E004                1290416
0       E005                1159735
9       E006                1144940
13      E007                1025130
11      E008                1297036
19      E009                1010513
10      E010                1097655
2       E011                1254707
18      E012                 982406
1       E013                1158429
12      E014                1191799
8       E015                1254729
7       E016                1143346
16      E017                1098901
15      E018                1281649
3       E019                1130584
6       E020                1092826

Conexión cerrada.

In [10]:
import psycopg2
from psycopg2 import sql, Error
import pandas as pd

# Función para ejecutar una consulta SQL con parámetros
def execute_query(conn, query, params=None):
    """
    Ejecuta una consulta SQL con manejo de errores y soporte para parámetros.
    """
    try:
        with conn.cursor() as cursor:
            cursor.execute(sql.SQL(query), params)  # Pasar la consulta como SQL seguro
            conn.commit()
            print(f"Query executed successfully: {query[:50]}...")

            if cursor.description:
                return cursor.fetchall(), [desc[0] for desc in cursor.description]  # Obtener nombres de columnas
            else:
                return [], []  # Retornar listas vacías si no hay resultados
    except psycopg2.Error as err:
        conn.rollback()
        print(f"Error executing query: {err}")
        return [], []

# Función para conectar a la base de datos
def create_database_connection():
    try:
        conn = psycopg2.connect(
            database="data_powergen", 
            user="datafundamental_owner", 
            password="uozci0wQGpA6", 
            host="ep-solitary-pond-a2p3evpo.eu-central-1.aws.neon.tech", 
            sslmode="require", 
            port=5432
        )
        print("Connected to 'data_powergen' successfully.")
        return conn
    except psycopg2.Error as err:
        print(f"Error: {err}")
        return None

# Consulta parametrizada utilizando el módulo sql de psycopg2
query_parametrizada = """
    SELECT id_orden, id_equipo, costo_mantenimiento, tiempo_reparacion_horas
    FROM historicos_ordenes
    WHERE tipo_mantenimiento = 'Correctivo' AND id_equipo = %s;
"""

# Ejecutar las consultas con parámetros
if __name__ == "__main__":
    conn = create_database_connection()
    if conn:
        equipo_id = ('E005',)  # Parámetro debe ser tupla para psycopg2

        print("Executing query: ordenes_correctivas_equipo")
        result, columns = execute_query(conn, query_parametrizada, equipo_id)

        if result and columns:
            # Convertir a DataFrame y ordenar por costo de mantenimiento
            df = pd.DataFrame(result, columns=columns)
            df_sorted = df.sort_values(by='costo_mantenimiento', ascending=False)

            print("Resultados de la consulta parametrizada ordenados:")
            display(df_sorted)  # Mostrar resultados ordenados en Azure Notebook
        else:
            print("No data returned for query.")

        conn.close()
        print("Conexión cerrada.")

Connected to 'data_powergen' successfully.
Executing query: ordenes_correctivas_equipo
Query executed successfully:
    SELECT id_orden, id_equipo, costo_mantenimien...
Resultados de la consulta parametrizada ordenados:

     id_orden id_equipo costo_mantenimiento tiempo_reparacion_horas
184  OT007244      E005                4984                       3
80   OT003288      E005                4969                      34
19   OT000671      E005                4956                      33
64   OT002766      E005                4948                      29
237  OT009182      E005                4946                      44
..        ...       ...                 ...                     ...
251  OT009941      E005                 577                       2
70   OT002883      E005                 577                      16
29   OT001226      E005                 556                      15
222  OT008368      E005                 503                      41
243  OT009396      E005                 501                       5

[254 rows x 4 columns]

Conexión cerrada.